.guess_wrap{
    border-top: 5px solid darkblue;
    position: relative;
    top: 30px;
}
.guess_no{
    height: 80px;
    width: 80px;
    background-color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 50px;
    font-weight: 700;
    border-radius: 50%;
    border: 1px solid darkblue;
    transition: transform 500ms ease-in;
    top: -40px;
    user-select: none;
    cursor: no-drop;
}
.guess_no:hover{
    transform: rotate(360deg);
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: left;
}
.number_field input[type='number']{
    padding: 8px;
    margin: 0 5px;
}
.number_field input[type='button']{
    padding: 8px;
    margin: 0 5px;
    cursor: pointer;
}