.footer{
    padding: 50px 0 0;
}
.container{
    text-align: left;
    background: #394d6b;
    padding: 38px 0 30px;
    position: relative;
    border-radius: 120px 120px 0 0;
    color: #fff;
    text-align: center;
}